/* №1 */
p.bbb {
	color: red;
}

/* такой селектор выбирает р с классом bbb. */

/* №2 */


p .bbb {
	color: red;
}
/* такой селектор выбирает все элементы с классом bbb, находящиеся внутри p. */

/* №3 */

.eee p.bbb {
	color: red;
}

/* такой селектор выбирает все элементы p с классом bbb, находящиеся внутри eee */

/* №4 */

.eee p .bbb {
	color: red;
}

/* такой селектор выбирает все элементы  классом bbb, находящиеся внутри р и находящиеся внутри eee */



