/* №1 */
.parent1 {
    border: 1px red solid;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: stretch;
   
}

.child1 {
    width: 100px;
    border: 1px green solid;
    
}

/* №2 */
.parent2 {
    border: 1px red solid;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
 
}

.child2 {
    height: 50px;
    border: 1px green solid;
    
}

/* №3 */
.parent3 {
    border: 1px red solid;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
  
}

.child3 {
    height: 50px;
    border: 1px green solid;
    
}
