/* №1 */

#elem1 {
    width: 300px;
    border: 1px dashed blue;
}

#elem2 {
    height: 270px;
    border: 1px solid orange;
    margin: 30px;
}
/* №2 */

#elem3 {
    width: 300px;
    border: 1px dashed blue;
}

#elem4 {
    height: 270px;
    border: 1px dashed green;
    margin: 30px;
}

#elem5 {
    height: 210px;
    border: 1px solid red;
    margin: 30px;
}