/* №1 */
.parent1 {
    border: 1px red solid;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.child1 {
    width: 100px;
    height: 50px;
    border: 1px green solid;
    
}

/* №2 */
.parent2 {
    border: 1px red solid;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
}

.child2 {
    width: 100px;
    height: 50px;
    border: 1px green solid;
    
}

/* №3 */
.parent3 {
    border: 1px red solid;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction:row-reverse
}

.child3 {
    width: 100px;
    height: 50px;
    border: 1px green solid;
    
}

/* №4 */
.parent4 {
    border: 1px red solid;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction:column-reverse;
}

.child4 {
    width: 100px;
    height: 50px;
    border: 1px green solid;
    
}