/* №1 */
#elem1 {
    width: 300px;
    border: 1px red solid;
    padding: 5px 10px 15px 20px;
    text-align: justify;
}

/* №2 */
#elem2 {
    width: 300px;
    border: 1px red solid;
    padding: 30px 10px;
    text-align: justify;
}


/* №3 */
#elem3 {
    width: 300px;
    border: 1px red solid;
    padding: 10px 20px 50px;
    text-align: justify;
}