/* №1 */

.odd {
    color: red;
}

.eve {
    color: green;
   }

   /* №2 */

   .eee {
    color:red;
   }

    /* №2 */

    /* в красный цвет красятся теги li, хотя класс, задающий цвет, назначен тегу ul,потому что являются непосредственными потомками.*/