/* №1 */

a {
	color: red;
}
a:hover {
	text-decoration: none;
}
/* ссылка будет всегда красного цвета,  когда на нее навести мышкой она станет неподчеркнутой */

/* №2 */

a.zzz {
	color: red;
}
a.zzz:hover {
	text-decoration: none;
}
/* ссылка с классом zzz будет всегда красного цвета, когда на нее навести мышкой она станет неподчеркнутой */

/* №3 */

#block a.zzz {
	color: red;
}
#block a.zzz:hover {
	text-decoration: none;
}

/* ссылка находится в блоке с заданым айди с классом zzz будет всегда красного цвета, когда на нее навести мышкой она станет неподчеркнутой */
/* №4 */
.block a.zzz {
	color: red;
}
.block a.zzz:hover {
	text-decoration: none;
}
/* ссылка находится в блоке с классом block  с классом zzz будет всегда красного цвета, когда на нее навести мышкой она станет неподчеркнутой */