/* №1 */
/* #elem {
	background-image: url("\img/bg.png");
	width: 1000px;
	height: 1000px;
	border: 1px solid black;
}

*/
/* №2 */

/* #elem {
	background-image: url("\img/bg.png");
    background-repeat:repeat-y;
	width: 1000px;
	height: 1000px;
	border: 1px solid black;
}
*/
/* №3 */

#elem {
	background-image: url("img/bg.png");
    background-repeat:repeat-x;
	width: 1000px;
	height: 1000px;
	border: 1px solid black;
}


