/* №1 */
.eee i {
    color: red;
}

/* №2 */

.eee .bbb {
	color: red;
}

/* Находит все элементы с классом bbb, находящиеся внутри элемента с классом eee и задает им цвет красный. */

/* №3 */

.eee h2 {
	color: red;
}
/* Находит все h2 , находящиеся внутри элемента с классом eee и задает им цвет красный. */

/* №4 */

.eee h2.bbb {
	color: red;
}
 /*  Находит все h2 с классом bbb, находящиеся внутри элемента с классом eee и задает им цвет красный. */

/* №5 */

.eee h3.bbb {
	color: red;
}
 /*  Находит все h3 с классом bbb, находящиеся внутри элемента с классом eee и задает им цвет красный. */

 /* №6 */

 .eee p.bbb {
	color: red;
}

/*  Находит все абзацы p с классом bbb, находящиеся внутри элемента с классом eee и задает им цвет красный. */

 /* №7 */

 .eee .bbb .kkk {
	color: red;
}

 /* Находит все элементы с классом kkk, находящиеся внутри элемента с классом bbb находящиеся внутри элемента с классом eee и задает им цвет красный. */