/* №1 */
.bbb.zzz {
	color: red;
}
/* селектор выберет элемент, одновременно имеющий класс bbb и класс zzz */

/* №2 */
h2.bbb.zzz {
	color: red;
}
/* селектор выберет заголовок h2, одновременно имеющий класс bbb и класс zzz */

/* №3 */

#elem.bbb {
	color: red;
}
 /*селектор выберет элемент, одновременно имеющий id elem и класс bbb */

 /* №4 */

 #elem.bbb.zzz {
	color: red;
}
/*селектор выберет элемент, одновременно имеющий id elem , класс bbb,  класс zzz  */

 /* №5 */

h2#elem.bbb {
	color: red;
}
/*селектор выберет заголовок , одновременно имеющий id elem , класс bbb  */

 /* №6 */
h2.zzz {
	color: red;
}
/* селектор выберет заголовок h2, имеющий класс zzz */

 /* №7 */

h2 .zzz {
	color: red;
}

/* селектор ищет элемент с классом zzz, находящийся внутри заголовка h2.  */

/* №8 */

.bbb.zzz {
	color: red;
}
/* селектор выберет элемент, одновременно имеющий класс bbb и класс zzz */

/* №9 */
.bbb .zzz {
	color: red;
}
/* селектор ищет элемент с классом zzz находящийся внутри элемента с классом bbb  */

/* №10 */

.bbb.zzz.xxx {
	color: red;
}
/* селектор выберет элемент, одновременно имеющий класс bbb , и класс zzz, и класс xxx  */

/* №11 */

.bbb .zzz.xxx {
	color: red;
}
/* селектор ищет элемент одновременно  с классом zzz и классом xxx  находящийся внутри элемента с классом bbb  */

/* №12 */
.bbb.zzz .xxx {
	color: red;
}

/* селектор ищет элемент  с классом xxx  находящийся внутри элемента  одновременно с классом bbb и классом zzz   */

/* №13 */

.bbb .zzz .xxx {
	color: red;
}

/* селектор ищет элемент  с классом xxx  находящийся внутри элемента c классом zzz  который находится внутри bbb  */

/* №14 */

#elem.bbb {
	color: red;
}

 /*селектор выберет элемент, одновременно имеющий id elem и класс bbb */

 /* №15 */

 #elem .bbb {
	color: red;
}

/* селектор ищет элемент с классом bbb и  находящийся внутри элемента имеющего id elem */
